@{
    ViewData["Title"] = "Home Page";
}

<!-- start -->
<div class="task_mag ">
    <div class="row d-flex justify-content-center">
        <!-- First Column (col-4) -->
        <div class="col-md-4 mt-3 m-0 p-0 mar1 ">
           
            <h1 class=" para1 mt-4 ">
               Task Management  Assistant You  
            
            </h1>
            <h1 class=" para1  ">
                 Gonna Love

            </h1>
            <p class="para2 text-secondary mb-5 ">We offer you a new generation of task management system.Plan, manage & track all your tasks in one flexible tool</p>
                
                
                <button class="btn btn-colour mb-3">Get start for free</button>

            <h3 class="para mt-4">
                Largest companies use our tool to work efficiently
               
            </h3>
            <div class="brands">
                <div class=" row d-flex flex-wrap">
                    <div class=" col-3">
                        <div class="m-0">
                            <img src="~/Img/showcase-first-logo.svg" alt="Brand 2" class="img-fluid">
                        </div>
                    </div>
                    <div class=" col-3">
                        <div class="m-0">
                            <img src="~/Img/showcase-second-logo.svg" alt="Brand 2" class="img-fluid">
                        </div>
                    </div>
                    <div class=" col-3">
                        <div class="m-0">
                            <img src="~/Img/showcase-third-logo.svg" alt="Brand 2" class="img-fluid">
                        </div>
                    </div>

                    <div class=" col-3">
                        <div class="m-0">
                            <img src="~/Img/showcase-fourth-logo.svg" alt="Brand 2" class="img-fluid">
                        </div>
                    </div>
                 
                </div>
            </div>
           
        </div>

        <!-- Second Column (col-7) -->
        <div class="col-md-8  p-0 imag ">
            <img src="~/Img/2.png" asp-append-version="true" alt="Image" style="width: 100%; ">

        </div>
    </div>
</div>

<!-- END-->
<!-- Start the scoond sassion -->
<div class="section mt-2 section-light-1">
    <h3 class="d-flex justify-content-center mb-1 mt-3">
        What Do You Get with Our Tool?</h3>
    <div class="row d-flex justify-content-center mb-5">
        <div class=" col-6 text-secondary mb-2">
                <div class="para2 ">
                    Make sure all your tasks are organized so you can set the priorities and focus
                    on important
                </div>
            </div>
    </div>
    <div class="row d-flex justify-content-center m-0 ">
         
        <div class="col-3 m-0  mb-4"> 
           <div class="row">
              <div class="kort-1 d-flex align-items-center justify-content-center">
    <div class="kart" style="width:18rem;">
        <div class="text-center">
            <img src="@Url.Content("~/Comments on Tasks.png")" class="card-icon" alt="Icon">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title"> Comments on Tasks</h5>
            <p class="card-text">
                Id mollis consectetur congue egestas egestas suspendisse blandit justo</p>
        </div>
    </div>
</div>
           </div>


           <div class="row">
               <div class="kort-1 d-flex align-items-center justify-content-center">
    <div class="kart" style="width:18rem;">
        <div class="text-center">
            <img src="@Url.Content("~/icon9.png")" class="card-icon" alt="Icon">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title"> Notifications</h5>
            <p class="card-text">Id mollis consectetur congue egestas egestas suspendisse blandit justo</p>
        </div>
    </div>
</div>
</div>
        </div>


        <div class="col-3 m-0  "> 
           <div class="row">
              <div class="kort-1 d-flex align-items-center justify-content-center">
    <div class="kart" style="width:18rem;">
        <div class="text-center">
            <img src="@Url.Content("~/icon9.png")" class="card-icon" alt="Icon">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title"> Tasks Analytics</h5>
            <p class="card-text">Id mollis consectetur congue egestas egestas suspendisse blandit justo</p>
        </div>
    </div>
</div>
           </div>


           <div class="row">
               <div class="kort-1 d-flex align-items-center justify-content-center">
    <div class="kart" style="width:18rem;">
        <div class="text-center">
            <img src="@Url.Content("~/icon9.png")" class="card-icon" alt="Icon">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">Sections & Subtasks</h5>
            <p class="card-text">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
    </div>
</div>
</div>
        </div>






        <div class="col-3 m-0 "> 
           <div class="row ">
              <div class="kort-1 d-flex align-items-center justify-content-center">
    <div class="kart" style="width:18rem;">
        <div class="text-center">
            <img src="@Url.Content("~/icon9.png")" class="card-icon" alt="Icon">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title"> Multiple Assignees</h5>
            <p class="card-text">A elementum, imperdiet enim, pretium etiam facilisi in aens.</p>
        </div>
    </div>
</div>
           </div>


           <div class="row">
               <div class="kort-1 d-flex align-items-center justify-content-center">
    <div class="kart" style="width:18rem;">
        <div class="text-center">
            <img src="@Url.Content("~/icon9.png")" class="card-icon" alt="Icon">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title"> Data Securitye</h5>
            <p class="card-text">A elementum, imperdiet enim, pr facilisi in aenean quam mauris.</p>
        </div>
    </div>
</div>
</div>
        </div>
      

        

    </div>
</div>
<!-- end -->

<!-- Start dark and light mood  sassion -->





<!-- end -->


<!-- Start Manage Your Work sassion -->
<div class=" row Manage-Work  d-flex justify-content-between" >

    <div class=" col-8  ">
        <div class="manage-img">
            <img src="@Url.Content("~/Img/Manage Your Work.png")" style="width: 100%;" />
        </div>
    </div>

    <div class=" col-4 Manage-dis ">
        <h4 class="mb-4 Manage-your"> Manage Your Work</h4>

        <div class="row  ">
            <div class="col-2">
               
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
            </div>
            <div class="col-10 par-margin">
                <p class="para-manage"> Powerful project management</p>
            </div>
        </div>
        <div class="row  ">
            <div class="col-2">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
            </div>
            <div class="col-10 par-margin">
                <p class="para-manage">
                    Transparent work management
                </p>
            </div>
        </div>
        <div class="row  ">
            <div class="col-2">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
            </div>
            <div class="col-10 par-margin">
                <p class="para-manage">
                    Manage work & focus on the most important tasks
                </p>
            </div>
        </div>

        <div class="row  ">
            <div class="col-2">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
            </div>
            <div class="col-10 par-margin">
                <p class="para-manage" par-margin">
                <p class="para-manage">
                    Track your progress with interactive charts

                </p>
            </div>
        </div>
        <div class="row  ">
            <div class="col-2">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
            </div>
            <div class="col-10 par-margin">
                <p class="para-manage">
                    Easiest way to track time spent on tasks

                </p>
            </div>
        </div>

        <div class="learn-mor mt-4">
            <button type="button" class="btn btn-learnmor text-light text-sm-center"> 
                <span class="learn-more-text">Learn more</span>

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </button>
        </div>

    </div>
</div>

<!--  Ens Manage Your Work sassion -->
<!-- Start= Download Our App -->
<div class="section Download  mt-3 mb-3 section-light-1">
    <div class="row d-flex  mb-2 justify-content-center ">
        <div class="col-3   mt-4">
            
                <img src="~/Img/DWO.png" asp-append-version="true" alt="Image" style="width:100%; ">
           
        </div>

        <div class="col-4   Download-2 mt-5">

            <h6 class="Manage-your mt-5" > Download Our App</h6>
            <div class="Manage-your mt-1">for Any Devices:</div>
              <div  class="row downlod-market mt-2">
                  <div class="col-12 ">
                      <div class=" row">
                         <div class=" col-12 para-manage">
                            App Store

                         </div>

                          <div class=" col-12 para-manage">
                          
                              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>




                         </div>

                      </div>
                      <div class=" col-12 para-manag">
                            

                          <div class="row ">
                              <div class="col-6 ">
                                  
                              <h6 class="Manage-your ">  Editor's Choice</h6>
                               <div class="para-manage-apple">
                               rating 4.7, 187K+ reviews
                               </div>
                          </div>
                           <div class="col-6">

                                <div class="col-6">

                                    <div class="appstorebutton iphone">
                                        <div class="row p-1">

                                            <div class="col-2 ">
                                                <div class="svg mt-3">

                                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256">
                                                        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M44.52734,34.75c-1.07812,2.39453 -1.59766,3.46484 -2.98437,5.57813c-1.94141,2.95313 -4.67969,6.64063 -8.0625,6.66406c-3.01172,0.02734 -3.78906,-1.96484 -7.87891,-1.92969c-4.08594,0.01953 -4.9375,1.96875 -7.95312,1.9375c-3.38672,-0.03125 -5.97656,-3.35156 -7.91797,-6.30078c-5.42969,-8.26953 -6.00391,-17.96484 -2.64844,-23.12109c2.375,-3.65625 6.12891,-5.80469 9.65625,-5.80469c3.59375,0 5.85156,1.97266 8.82031,1.97266c2.88281,0 4.63672,-1.97656 8.79297,-1.97656c3.14063,0 6.46094,1.71094 8.83594,4.66406c-7.76562,4.25781 -6.50391,15.34766 1.33984,18.31641zM31.19531,8.46875c1.51172,-1.94141 2.66016,-4.67969 2.24219,-7.46875c-2.46484,0.16797 -5.34766,1.74219 -7.03125,3.78125c-1.52734,1.85938 -2.79297,4.61719 -2.30078,7.28516c2.69141,0.08594 5.47656,-1.51953 7.08984,-3.59766z"></path></g></g>
                                                    </svg>
                                                </div>

                                            </div>
                                            <div class="col-9 b-warning">
                                                <a href="#">
                                                    <p class="text-light para6 "> Download on the</p>
                                                    <p class="text-light Manage-your-apple ">App Store</p>
                                                </a>
                                            </div>


                                        </div>

                                    </div>

                                </div>

                          </div>
                          </div>
                         </div>
                      
                  </div>


                <div class="col-12 mt-4">
                    <div class=" row">
                        <div class=" col-12 para-manage">
                            Google Play

                        </div>

                        <div class=" col-12 para-manage">

                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>




                        </div>

                    </div>
                    <div class=" col-12 para-manag">


                        <div class="row ">
                            <div class="col-6 ">

                                <h6 class="Manage-your ">  App of the Day</h6>
                                <div class="para-manage-apple">
                                    rating 4.7, 187K+ reviews
                                </div>
                            </div>
                            <div class="col-6">

                                <div class="appstorebutton iphone">
                                    <div class="row p-1">

                                        <div class="col-2 ">
                                            <div class="svg mt-3">

                                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48">
                                                    <linearGradient id="AraffhWwwEqZfgFEBZFoqa_L1ws9zn2uD01_gr1" x1="18.102" x2="25.297" y1="3.244" y2="34.74" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#35ab4a"></stop><stop offset=".297" stop-color="#31a145"></stop><stop offset=".798" stop-color="#288739"></stop><stop offset="1" stop-color="#237a33"></stop></linearGradient>
                                                    <path fill="url(#AraffhWwwEqZfgFEBZFoqa_L1ws9zn2uD01_gr1)" d="M13.488,4.012C10.794,2.508,7.605,3.778,6.45,6.323L24.126,24l9.014-9.014L13.488,4.012z"></path>
                                                    <linearGradient id="AraffhWwwEqZfgFEBZFoqb_L1ws9zn2uD01_gr2" x1="19.158" x2="21.194" y1="23.862" y2="66.931" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f14e5d"></stop><stop offset=".499" stop-color="#ea3d4f"></stop><stop offset="1" stop-color="#e12138"></stop></linearGradient>
                                                    <path fill="url(#AraffhWwwEqZfgFEBZFoqb_L1ws9zn2uD01_gr2)" d="M33.14,33.014L24.126,24L6.45,41.677 c1.156,2.546,4.345,3.815,7.038,2.312L33.14,33.014z"></path>
                                                    <linearGradient id="AraffhWwwEqZfgFEBZFoqc_L1ws9zn2uD01_gr3" x1="32.943" x2="36.541" y1="14.899" y2="43.612" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffd844"></stop><stop offset=".519" stop-color="#ffc63f"></stop><stop offset="1" stop-color="#ffb03a"></stop></linearGradient>
                                                    <path fill="url(#AraffhWwwEqZfgFEBZFoqc_L1ws9zn2uD01_gr3)" d="M41.419,28.393 c1.72-0.96,2.58-2.676,2.581-4.393c-0.001-1.717-0.861-3.434-2.581-4.393l-8.279-4.621L24.126,24l9.014,9.014L41.419,28.393z"></path>
                                                    <linearGradient id="AraffhWwwEqZfgFEBZFoqd_L1ws9zn2uD01_gr4" x1="13.853" x2="15.572" y1="5.901" y2="42.811" gradientUnits="userSpaceOnUse"><stop offset=".003" stop-color="#0090e6"></stop><stop offset="1" stop-color="#0065a0"></stop></linearGradient>
                                                    <path fill="url(#AraffhWwwEqZfgFEBZFoqd_L1ws9zn2uD01_gr4)" d="M6.45,6.323C6.168,6.948,6,7.652,6,8.408 v31.179c0,0.761,0.164,1.463,0.45,2.09l17.674-17.68L6.45,6.323z"></path>
                                                </svg>
                                            </div>

                                        </div>
                                        <div class="col-9 b-warning">
                                            <a href="#">
                                                <p class="text-light para6 "> GET IT ON</p>
                                                <p class="text-light Manage-your-apple ">
                                                    Google Play
                                                </p>
                                            </a>
                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>




                 
              </div>


        </div>

    </div>


</div>

<!-- End Download Our App -->
<!-- Start  Integrate Top Work Tools -->

<div class="container mt-5">

    <div class="row">
        <div class="col text-center">
            <h4 class="Integrate">Integrate Top Work Tools</h4>
            <p class="para-7 mt-2">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus</p>
            <p class="para-7">
                facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="kort-1">
                                <div class="kart cart bg-white" style="width:100%;">
                                    <div class="text-center  kort-img d-flex justify-content-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262" id="google"><path fill="#4285F4" d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"></path><path fill="#34A853" d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"></path><path fill="#FBBC05" d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"></path><path fill="#EB4335" d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"></path></svg>
                                    </div>
                                    <div class="card-body text-center d-flex justify-content-start ">

                                        <p class="card-text para16">faucibus interdum posuere. Ullamcorper a lacus vestibulum sed arcu non. .</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="kort-1">
                                <div class="kart cart bg-white" style="width:100%;">
                                    <div class="text-center  kort-img d-flex justify-content-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256" id="trello"><defs><linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%"><stop offset="0%" stop-color="#0091E6"></stop><stop offset="100%" stop-color="#0079BF"></stop></linearGradient></defs><rect width="256" height="256" fill="url(#a)" rx="25"></rect><rect width="78.08" height="112" x="144.64" y="33.28" fill="#FFF" rx="12"></rect><rect width="78.08" height="176" x="33.28" y="33.28" fill="#FFF" rx="12"></rect></svg>
                                    </div>
                                    <div class="card-body text-center d-flex justify-content-start">
                                        <p class="card-text para16 ">amet justo donec enim. Tempor id eu nisl nunc. Eget mauris pharetra et ultrices.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="kort-1">
                                <div class="kart bg-white" style="width:100%;">
                                    <div class="text-center  kort-img d-flex justify-content-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill-rule="evenodd" clip-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 512 512" id="zoom"><defs><linearGradient id="a" x1="67.83" x2="474.19" y1="82.42" y2="389.98" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#4a8cff"></stop><stop offset="1" stop-color="#23b7ec"></stop></linearGradient></defs><path fill="url(#a)" d="M256 0c141.39,0 256,114.61 256,256 0,141.39 -114.61,256 -256,256 -141.39,0 -256,-114.61 -256,-256 0,-141.39 114.61,-256 256,-256z"></path><path fill="#fff" fill-rule="nonzero" d="M117.44 188.39l0 101.48c0.1,22.95 18.84,41.41 41.69,41.32l147.93 0c4.21,0 7.59,-3.38 7.59,-7.49l0 -101.49c-0.09,-22.94 -18.83,-41.41 -41.69,-41.32l-147.93 0c-4.2,0 -7.59,3.38 -7.59,7.5zm206.63 39.58l61.07 -44.61c5.3,-4.39 9.42,-3.29 9.42,4.66l0 136.04c0,9.05 -5.03,7.96 -9.42,4.67l-61.07 -44.53 0 -56.23z"></path></svg>
                                    </div>
                                    <div class="card-body text-center d-flex justify-content-start">

                                        <p class="card-text para16 ">dignissim convallis aenean et. Phasellus egestas tellus rutrum tellus pellentesque eu tinc.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="kort-1">
                                <div class="kart bg-white" style="width:100%;">
                                    <div class="text-center  kort-img d-flex justify-content-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" viewBox="0 0 224.1 253.4" id="mailchimp"><g fill="#664f44"><path d="M215.1 229.2c-.8.8-1.8 1.2-3 1.2s-2.2-.4-3-1.2c-.8-.8-1.2-1.8-1.2-3s.4-2.3 1.3-3.1c.8-.8 1.8-1.1 2.9-1.1 1.2 0 2.2.4 3 1.2.8.8 1.2 1.8 1.2 3 .1 1.2-.3 2.2-1.2 3m-5.4-5.5c-.7.7-1 1.5-1 2.4 0 1 .3 1.8 1 2.5s1.5 1 2.5 1 1.8-.3 2.5-1 1-1.5 1-2.5c0-.9-.3-1.8-1-2.4-.7-.7-1.5-1.1-2.5-1.1-1 .1-1.8.4-2.5 1.1m3.8 4.6c-.4.3-.8.4-1.2.4-.6 0-1.2-.2-1.7-.7-.5-.5-.7-1.1-.7-1.8s.2-1.3.6-1.8c.4-.5 1-.7 1.7-.7.4 0 .8.1 1.2.3.5.3.9.8 1 1.6h-1.1c-.1-.3-.2-.6-.4-.7-.2-.1-.4-.2-.6-.2-.3 0-.6.1-.8.4-.2.3-.3.7-.3 1.2s.1.9.3 1.1c.2.2.5.4.8.4.3 0 .5-.1.7-.2l.3-.6h1c-.1.6-.4 1-.8 1.3M224.1 183.9c0-.4-.1-.8-.1-1.2 0-.3-.1-.5-.1-.7-.1-.6-.2-1.1-.4-1.7-.4-1.1-1-2.2-1.8-3.1-.8-.9-1.7-1.6-2.6-2.1-1-.5-2-.8-2.8-1-.3 0-.5-.1-.7-.1 1.1-4.8-.3-8.5-1.2-10.2l.2-.2c1.2-1.2 2.2-2.3 3.1-3.4l.2-.2c.7-1 1.1-2 1.4-2.9.2-.8.4-1.5.4-2.2v-.6-.4-.9c-.1-1.5-.3-3.4-1.3-5.5-.5-1-1.2-2.1-2.1-3.1-.9-1-2-1.9-3.3-2.6-.1-.1-.2-.1-.3-.2-2.7-3.9-5.7-7-8.4-9.3-1.4-1.2-2.7-2.2-3.8-3-1.1-.8-2-1.4-2.5-1.8-1.2-.9-2.1-1.4-2.5-1.6-1-.6-1.7-1.1-2.1-1.4-.3-.3-.5-.4-.6-.5 0 0 0-.1-.1-.3-.1-.3-.1-.7-.1-1.4 0-1 0-2.5.1-4.5.2-3.2.5-7.5.9-13.4.1-1.9.1-3.7.1-5.3-.1-2.7-.5-5.1-1-7.3-.1-.5-.3-1-.4-1.5-.1-.4-.2-.6-.3-.8-.1-.3-.2-.6-.4-1-.1-.2-.1-.4-.3-.6-.2-.5-.4-1-.7-1.5l-.1-.1-.1-.3-.1-.2c-.5-.9-1.1-1.7-1.7-2.4-.3-1.4-.8-3.4-1.7-5.7-.8-2-1.8-4.2-3.3-6.4-.5-.8-1.1-1.5-1.7-2.2l.2-.2c.3-.3 7.3-7.7 12.9-17.3 10.3-17.9 6.9-28.8 2.2-34.8l-.1-.2-.1-.2c-4.5-5-10.7-8-18.2-9-15.7-2-33.5 5.8-38.2 8L132 6c-.8-.8-1.6-1.6-2.5-2.2-.9-.6-1.9-1.2-2.9-1.7-2-.9-4.2-1.5-6.6-1.8-4.7-.6-10.1 0-15.9 1.5C95.4 4 85.7 8.4 75.5 14.5c-10.2 6.1-20.8 14-31.1 23.4-12.6 11.4-23 23.5-30.6 35.1-3.8 5.7-6.9 11.3-9.2 16.7-2.3 5.3-3.8 10.4-4.4 15-.4 3.4-.4 6.6.3 9.5.3 1.3.7 2.5 1.3 3.7.7 1.5 1.6 2.9 2.7 4.1l8.9 9.3 1 1-.1.1-.3.6c-.2.3-.3.6-.5.8l-.3.6c-.1.3-.3.6-.4.9l-.3.6c-.1.3-.3.6-.4.9-.1.2-.2.4-.2.6l-.3.9c-.1.2-.1.4-.2.6-.1.3-.2.6-.3 1 0 .1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.3-.2.7-.3 1 0 .2-.1.4-.1.6 0 .1-.1.3-.1.4 0 .2-.1.4-.1.6 0 .2-.1.4-.1.6-.1.4-.1.8-.2 1.3 0 .1 0 .2-.1.4v.1c0 .3-.1.6-.1.8 0 .4-.1.9-.1 1.3v5c0 .2 0 .4.1.6 0 .2 0 .5.1.8v.3c0 .2.1.5.1.7 0 .2.1.4.1.7 0 .1 0 .2.1.3 0 .1.1.3.1.4v.2c0 .2.1.4.2.8 0 .1 0 .1.1.2.1.2.1.4.1.5l.1.2c0 .1 0 .1.1.2l.1.2V159c0 .1 0 .1.1.2l.1.2c0 .2.1.3.1.5.1.2.1.4.2.8v-.1.1c0 .1 0 .1.1.2.1.3.2.5.2.6.1.2.2.4.3.8l.1.1c.1.2.1.4.2.5l.1.2c0 .1.1.2.1.3 0 .1.1.3.2.4l.1.2c.1.1.1.3.2.4.1.1.1.2.1.3.1.2.2.4.3.7l.1.1c.1.1.1.2.2.3.1.1.1.3.2.4.1.1.2.3.3.6l.1.1c.1.1.1.2.2.3.1.2.2.3.2.4.1.1.2.3.3.5v.1c.1.1.1.2.2.3.1.2.2.3.3.4.1.1.2.3.4.6.1.1.2.2.2.3.1.2.2.3.3.4.1.1.2.3.3.5.1.1.2.3.3.4.1.2.2.3.4.4l.3.3.1.1c.2.2.3.4.5.6l.2.2.3.3.6.6.2.2.3.3.1.1c.2.2.5.4.7.7l.1.1c.1.1.2.1.3.3.3.3.6.5.9.8l.2.1.1.1.2.1c.3.2.5.4.8.6l.1.1c.1.1.2.1.2.1l.2.2c.2.2.4.3.6.5l.2.1.2.2.1.1c.2.1.5.3.7.4.1.1.2.2.4.2l.2.1.1.1h.1c.4.2.7.4 1 .6l.2.1 1.2.6h.1l.2.1.6.3c.1 0 .2.1.3.1.1.1.2.1.4.2h.1c.2.1.4.2.6.2h.1c.2.1.4.2.7.3h.1l.2.1c.1 0 .2.1.3.1h.1c.3.1.6.2 1 .3h.1c.5.2 1 .3 1.5.4h.1c.4.1.9.2 1.3.3h.4c.4.1.8.2 1.2.2h.4c.3 0 .5.1.8.1 0 .1.1.2.1.3.7 1.9 1.4 3.8 2.2 5.6 11.8 32.7 44.5 58.1 81.8 62.8 37.3 4.6 77.2-20.2 93.4-53.7.7-1.3 1.3-2.5 1.9-3.8 1.6-1.7 2.9-3.4 3.7-5.2 1.3-1.1 1.6-3.3 1.5-5.2M17 170.9h.1-.1"></path></g><path fill="#132134" d="M192.2 20.3c-1.8-2-3.9-3.5-6.2-4.6-.4-.2-.8-.3-1.3-.4-.2-.1-.4-.3-.6-.4-2-.8-4.1-1.3-6.3-1.6-10.8-1.4-23.2 2.6-30.2 5.4-.4.2-.8.3-1.2.5-.6.3-1.2.5-1.8.8-1 .4-2 .9-3.1 1.4-.2.1-.3.1-.5.2l-1.9-2.2-.9-1-.8-.9-.3-.4-7.3-8.4-.6-.7-.8-.9h-.1l-2.1.5-2.4.5c-1.3-.6-2.9-1-4.7-1.3-3.6-.5-8.2 0-13.4 1.3-5.2 1.3-11.1 3.6-17.3 6.7C75.9 21 62.1 30.5 48.7 42.7c-4.7 4.2-9 8.6-13 12.9-3.9 4.2-7.4 8.5-10.6 12.6-6.5 8.5-11.4 16.7-14.6 24.1-2.1 4.9-3.4 9.4-3.9 13.3-.4 2.8-.3 5.3.2 7.3.2.7.4 1.2.6 1.8.5 1.2 1.1 2.2 1.9 3.1l8.1 8.5.9.9.1-.1c.2-.3.5-.6.8-.8l.1-.1.3-.3c.2-.3.5-.5.7-.8.2-.2.3-.3.5-.4.2-.1.3-.3.5-.4l.2-.2c.2-.1.3-.3.5-.4.2-.2.5-.4.7-.6.1-.1.3-.2.4-.3h.1c.3-.2.5-.4.8-.6.2-.1.3-.2.5-.4.3-.2.5-.4.8-.6.2-.1.3-.2.5-.3.3-.2.6-.4.9-.5.2-.1.3-.2.5-.3.3-.2.6-.3.9-.5.2-.1.3-.2.5-.3l.2-.1c.3-.1.5-.3.8-.4.1-.1.3-.1.4-.2.2-.1.4-.2.7-.3l.6-.3.2-.1 1.5-.6c.2-.1.3-.1.5-.2s.3-.1.5-.2l.2-.1c.1 0 .2-.1.3-.1.2-.1.4-.1.7-.2h.2c.3-.1.5-.1.8-.2.2-.1.5-.1.7-.2.3-.1.6-.1.9-.2.1 0 .2-.1.4-.1.1 0 .3 0 .4-.1.3-.1.6-.1.9-.1.3 0 .5-.1.8-.1.2 0 .4-.1.6-.1h.8c1 0 2.2 0 3.4.1h.2c1.2.1 2.6.3 4 .6.3.1.7.1 1 .2.1-.1.1-.3.2-.4.8-1.3 1.5-2.7 2.3-4 4.5-7.5 9.3-14.1 14.2-19.9 1.7-2 3.4-3.8 5.1-5.6 7.1-7.4 14.2-13.1 20.6-17.5 1.4-1 2.9-1.9 4.2-2.8 1.9-1.2 3.7-2.2 5.4-3.2 1.4-.8 2.7-1.5 4-2.1 2.1-1.1 4-2 5.7-2.7l1.5-.6c.7-.3 1.4-.6 2-.8-.5-.1-1.1-.1-1.6-.1h-2c-.5 0-1.1 0-1.6.1-1 .1-2.1.2-3.2.3-.4.1-.7.1-1.1.2 2.7-1.4 5.4-2.4 7.9-3.2 1.7-.5 3.4-.9 5-1.2 2.2-.4 4.3-.7 6.2-.8 1.3-.1 2.5-.1 3.6-.1s2.2.1 3.1.1c3.3.2 5.3.7 5.3.7-.5-.7-1.1-1.2-1.7-1.7-1.2-.9-2.5-1.5-3.7-2-.5-.2-.9-.3-1.3-.5-.3-.1-.6-.2-.8-.2.6-.1 1.1-.2 1.6-.2.6-.1 1.1-.1 1.7-.2 4.7-.4 8.9 0 12 .5 3.7.7 6 1.6 6 1.6-.5-1-1.3-1.9-2.2-2.7-.6-.5-1.3-1-1.9-1.4 1.3.3 2.4.6 3.6 1 3 .9 5.5 2 7.5 2.9l1.8.9c.2.1.3.2.4.2 1.8 1 2.8 1.7 2.8 1.7-.3-1.1-.9-2.1-1.7-3-.2-.2-.4-.5-.6-.7h.1c.1 0 .2.1.4.1.1 0 .3.1.5.2.8.3 2 .8 3.4 1.5.1 0 .1.1.2.1l.6.3c.5.3 1 .5 1.5.9l1.5.9c.3.2.5.3.8.5.5.4 1.1.8 1.6 1.3.6.5 1.1 1 1.6 1.5l.3.3c.4.4.8.8 1.1 1.2.7.8 1.3 1.7 1.9 2.6.7 1.1 1.2 2.4 1.7 3.7 0 .1 0 .2.1.2.3-.3.9-.9 1.6-1.7 5.8-6.8 23.2-28.8 12.7-42.2"></path><g fill="#90694c"><path d="M218.1 184.6s.2-1.5-.6-2.9c0-.1-.1-.2-.1-.2l-.1-.1-.3-.3c-.2-.2-.4-.4-.7-.6-.1-.1-.3-.2-.5-.3-.5-.2-1-.4-1.7-.5-.5-.1-1-.1-1.6-.1H211.7v.2c0 .1.1.2.1.4 0 .1 0 .2.1.2.1.3.2.8.3 1.2 0 0 0 .1-.1.3v.1c-.3.7-1.1 2.3-2.9 4.3-.3.4-.6.7-1 1.1-5 5.2-15.8 12.5-38.6 16.6-7.7 1.1-14.9 1.2-20.9.4-9-1.1-15.7-4-18.9-7.9-.3-.3-.5-.7-.8-1-.2-.3-.3-.5-.5-.8-.1-.1-.1-.2-.2-.3-1.3-2.4-1.9-5-1.9-7.5 0-3.1 1-6 2.6-8.2 1.3-1.8 3-3.2 5.1-3.8 1-.3 2.1-.5 3.2-.4.2 0 .5 0 .9.1.7.1 1.8.2 3.1.4.1 0 .3 0 .4.1 4.3.5 11.1 1.2 19.3.7 15-.9 34.7-5.6 52.6-21.8v-.1c.1-1.4-.1-3.8-1.8-5.7-.3-.3-.6-.6-1-.9-.2-.2-.5-.3-.7-.5-.3-.1-.5-.3-.7-.4l-.9-.6v-.1c-.1-.2-.2-.4-.4-.6-4.6-7-11-11.1-13.6-13-1.2-.9-2-1.3-2-1.3-5.5-3.4-6.3-4.5-5.8-13.6.2-3.3.5-7.6.9-13.5 0-.8.1-1.5.1-2.2v-.5V98.6c0-.5-.1-1-.1-1.4 0-.2 0-.4-.1-.6-.1-.5-.1-1-.2-1.5 0-.2-.1-.5-.1-.7 0-.3-.1-.5-.2-.8-.1-.2-.1-.5-.2-.7-.1-.3-.2-.6-.2-.9 0-.1-.1-.2-.1-.3 0-.1-.1-.2-.1-.3v-.1l-.1-.3c-.1-.2-.2-.4-.2-.6v-.1l-.1-.2-.1-.2c-.2-.4-.3-.8-.5-1.1l-.1-.3c-.2-.3-.4-.7-.6-1l-.1-.1-.1-.1c-.2-.2-.3-.4-.5-.6l-.2-.3c-.2-.3-.4-.5-.6-.7V84.9c-.1-.4-.2-.9-.3-1.4 0-.1-.1-.3-.1-.4V83c0-.2-.1-.3-.1-.5-.1-.4-.2-.8-.4-1.2 0-.1-.1-.3-.1-.4l-.3-.9c-.1-.2-.1-.4-.2-.5-.1-.3-.2-.6-.4-.9l-.3-.6c-.1-.3-.3-.6-.4-.9l-.3-.6c-.2-.3-.3-.6-.5-.9l-.3-.6c-.2-.3-.4-.6-.6-1-.1-.2-.2-.3-.3-.5-.1-.1-.2-.3-.3-.4-.3-.3-.5-.6-.8-.9l-.2-.1c-.4-.4-.7-.8-1.1-1.1l-.1-.1c-.2-.1-.4-.3-.5-.4h-.1c-.2-.1-.3-.2-.5-.3l-.1-.1c-.2-.1-.5-.3-.9-.5-.1-.1-.3-.1-.5-.2-.9-.3-2-.7-3.4-1.1-.1 0-.2 0-.3-.1-1.1-.3-2.4-.6-3.8-.8-.5-.1-.9-.1-1.4-.2-.2 0-.4 0-.7-.1h-.3c-1.1-.1-2.1-.2-3.2-.2h-.1c-1.4 0-2.8.1-4.1.4.3-.5 1.2-1.1 2-1.6 1.1-.6 2.1-1 2.1-1-.6 0-1.2.1-1.8.2-.2 0-.4.1-.6.1-.1 0-.3 0-.4.1h-.1c-.1 0-.2 0-.3.1-3.1.7-6.1 1.8-7.8 2.5l-.6.3h-.1c-.2 0-.3 0-.5.1 1.2-2.3 3-3.5 4.4-4.1.2-.1.5-.2.7-.3.1 0 .1 0 .2-.1.2-.1.4-.1.5-.2.3-.1.5-.1.5-.1h-1.6c-3.4.4-6.5 1.5-9.1 3-1.8 1-3.4 2.1-4.8 3.2-.4.1-.7.2-1.1.2-3.8.8-8.1 1.8-12.6 3.2-1.7.5-3.4 1.1-5.1 1.7-1.3.5-2.7 1-4 1.5-1 .4-1.9.8-2.9 1.2-6.9 3.1-13.8 7.2-19.5 12.7l-.6.6-1.5 1.5-.6.6c-.2.3-.5.6-.7.8-1.1 1.2-2.1 2.5-3.1 3.9-.7 1-1.4 2.1-2 3.2l-.1.1c-1.3 2.3-2.5 4.7-3.4 7.4-.5 1.3-.9 2.7-1.3 4.1-.1.4-.2.7-.3 1.1l-.1.2c-.4 1.5-.7 3.1-.9 4.7 0 .3-.1.6-.1 1-.1.8-.2 1.6-.2 2.5-.1.8-.1 1.5-.1 2.3V127.1c0 .9 0 1.8.1 2.7v.1c0 .9.1 1.8.2 2.8 0 .4.1.8.1 1.2v.3c0 .2 0 .4.1.7.1 1 .3 2.1.4 3.2 0 .3.1.6.1.9.2.9.3 1.9.5 2.8 0 0-.2-1.2-.1-3 0-.4.1-.9.1-1.3.1-1 .3-2.2.7-3.3l.3-.9c0-.1.1-.2.2-.4.2-.5.5-1.1.8-1.6.1.4.1.8.2 1.1v5.3c.1 3.4.4 7.5 1.1 11 0 0 .1-6.3 1.2-7.1 0 0 1.9 11.8 3.6 16.2.2.6.5 1 .7 1.3v-1.2l-.2-6.5v-.7c1.3 2.7 2.8 5.4 4.5 8.3.5.8.9 1.6 1.4 2.4-3.2 2.8-6.2 6.9-8.4 11.7-.3.8-.7 1.6-1 2.4-.2.5-.3.9-.5 1.4 0 .1-.1.3-.1.4-.1.3-.2.7-.3 1 0 .2-.1.3-.1.5-.1.3-.2.7-.3 1 0 .2-.1.3-.1.5l-.3 1.5c-.1.5-.2 1-.2 1.5 0 .2 0 .3-.1.5 0 .4-.1.7-.1 1.1 0 .2 0 .4-.1.6 0 .4-.1.7-.1 1.1v3.5c0 .4 0 .8.1 1.3V191.7c0 .5.1 1 .2 1.6 0 .2 0 .3.1.5 0 .4.1.7.2 1.1 0 .2.1.4.1.6.1.3.1.7.2 1 0 .2.1.4.1.6.1.3.2.6.2 1 .1.2.1.4.2.7.1.3.2.7.3 1 .1.2.1.4.2.6.1.3.2.7.3 1 .1.2.1.4.2.6.1.4.3.8.4 1.1.1.2.1.3.2.5l1.5 3.3c.1.2.2.3.3.5l.6 1.2c.1.2.2.4.4.6.2.3.4.7.6 1 .1.2.3.4.4.6.2.3.4.7.7 1 .2.2.3.4.5.7.2.3.5.7.7 1 .2.2.3.4.5.7.3.3.5.7.8 1 .2.2.3.4.5.6.3.4.6.7 1 1.1l.5.5c.5.5 1 1.1 1.5 1.6 0 0-.3-.4-.7-1.2-.1-.1-.2-.3-.2-.5l-.3-.6c-.1-.2-.2-.4-.3-.7-.8-1.8-1.5-4.4-1.4-7.2l.9 1.2c.3.7.8 1.6 1.3 2.6.2.3.4.7.5 1 .8 1.4 1.6 3 2.6 4.5 1.2 1.9 2.4 3.7 3.7 5.4 0 0-1.5-3.2-2-5.3-.1-.6-.2-1.1-.1-1.4.1.1.2.3.4.4.1.1.2.3.4.4.2.3.5.7.9 1.2l.2.2c.2.2.3.5.5.7.2.3.4.6.7.9 2.1 2.7 5 6.3 7 8.2.7.6 1.3 1.1 1.7 1.3l-2.9-5.2c6.6 5.4 34 12.3 60.9 4.6 3.3-.9 6.5-2.1 9.7-3.5 1.9-.8 3.8-1.8 5.7-2.8l.3-.2c1.3-.7 2.6-1.5 3.9-2.3 1-.6 2-1.3 2.9-1.9 1.6-1.1 3.2-2.3 4.8-3.6.1-.1.2-.2.3-.2 1.5-1.3 3-2.7 4.3-4.1 1.8-1.9 3.4-3.8 4.8-5.7l.1-.1c.4-.5.7-.9 1-1.4l.1-.1c.1-.2.2-.3.3-.5.5-.7.9-1.3 1.4-2 .1-.2.2-.3.3-.5.2-.4.4-.7.7-1.1.2-.3.3-.5.5-.8.2-.3.4-.6.5-.9.3-.5.6-1.1.9-1.6l.3-.6.6-1.2.3-.6.1-.2c.2-.5.5-1 .7-1.5v-.1c.9-.8 1.5-1.6 2.1-2.3.1-.1.2-.2.2-.3.6-1.9 1-3.4 1-4.8M57.2 165.2c0-.1 0-.2-.1-.4-.3-1.7-.6-3.5-.7-5.3v-.4c-.3.1-.6.5-1 1-.1.2-.3.4-.4.7-.9 1.7-1.7 4.1-1.7 4.1.1-.8.2-1.6.2-2.4v-.3c.1-.8.2-1.7.3-2.5v-.3c.1-1 .3-1.9.5-2.8 0-.1 0-.2.1-.4v-.1c0-.1 0-.2.1-.3 0-.2.1-.3.1-.5.1-.7.3-1.4.4-2.1.1-.6.2-1.2.3-1.7v-.2c0-.1 0-.2.1-.2v-.2c0-.1.1-.3.1-.4 0-.1 0-.2.1-.3 0-.2.1-.4.1-.5 0-.1.1-.3.1-.4 0-.2.1-.4.1-.5 0-.1 0-.2.1-.3 0-.1 0-.2.1-.2 0-.2.1-.3.1-.4V147.6l-.2.2c-.2.1-.3.3-.5.4l-.2.2c-.2.2-.4.4-.5.6l-.1.1-.6.9-.1.1c0 .1-.1.1-.1.2l-.3.6v.2c-.1.3-.3.6-.4.9-.3.8-.6 1.6-.8 2.3-.1.2-.1.5-.2.6-.1.4-.2.8-.2.9v.1-.1c0-.3 0-.5.1-.8 0-.5.1-1.1.1-1.6 0-.4.1-.9.2-1.3 0-.1 0-.3.1-.4 0-.2.1-.4.1-.6 0-.2.1-.4.1-.6V150.2c0-.2.1-.5.1-.7v-.5-.2c0-.1 0-.2.1-.3.1-.3.2-.7.2-1v-.1c.1-.2.1-.5.2-.7v-.1c.1-.5.3-1 .4-1.5v-.2c0-.1 0-.2.1-.3.2-.8.5-1.6.7-2.3v-.1c.2-.6.5-1.3.7-1.9v-.1c.1-.3.2-.5.3-.8.2-.4.3-.8.5-1.2 0-.1.1-.3.3-.7.1-.1.1-.3.2-.4.1-.2.2-.4.3-.7l.1-.2 1.7-3.1c.1-.1.1-.3.2-.4v-.1l.1-.2c.2-.3.4-.7.6-1 .3-.5.5-1 .8-1.4.5-.9.9-1.7 1.2-2.1.1-.3.2-.4.3-.5-.1 0-.6-.4-1.4-.9-1-.6-2.4-1.4-4.1-2.2-.6-.3-1.1-.5-1.7-.8-.7-.3-1.5-.6-2.3-.9-.2-.1-.4-.1-.6-.2-.7-.2-1.3-.4-2-.6-.5-.1-1-.2-1.4-.3-.4-.1-.8-.1-1.2-.2-.2 0-.4 0-.6-.1-.2 0-.4 0-.6-.1-.5 0-1.1-.1-1.6-.1h-.8c-1.2 0-2.3.1-3.4.3h-.2c-2 .3-3.9.8-5.8 1.5-.6.2-1.2.5-1.9.8-.2.1-.3.2-.5.2l-.6.3c-1.8.9-3.5 2.1-5.1 3.4h-.1c-1.4 1.1-2.6 2.4-3.7 3.7l-.9 1.2c-.4.5-.7 1-1 1.5-.6.9-1.2 1.9-1.7 2.9-.2.4-.4.7-.5 1.1 0 .1-.1.1-.1.2-1 2.4-1.8 4.9-2.1 7.6-.1.5-.1 1-.2 1.6v.2c0 .4-.1.8-.1 1.3v1.8c0 .4 0 .8.1 1.2v.5c0 .3.1.6.1.9v.1c0 .2 0 .3.1.5 0 .3.1.6.1.8 0 .2.1.4.1.6.1.3.1.5.2.8 0 .2.1.4.2.6v.1l.1.2v.2l.1.2c.1.2.1.4.2.6.1.2.1.5.2.7.1.2.2.4.2.7l.1.2c.1.2.1.3.2.5s.2.4.3.7l.3.6c.1.1.1.2.2.3.1.1.1.2.2.3l.3.6c.1.2.2.5.4.7.1.2.2.4.3.5.1.2.3.5.4.7.1.2.2.3.3.5.1.2.3.5.5.7.1.2.2.3.3.4.2.2.3.5.5.7.1.1.2.3.3.4.2.2.4.5.6.7.1.1.2.2.3.4.2.2.4.5.6.7l.3.3c.2.2.4.5.7.7l.3.3.7.7c.1.1.2.2.3.2.2.2.5.4.8.7.1.1.2.1.3.2.3.2.5.4.8.6.1.1.2.1.2.2l.9.6.2.1.9.6.2.1c.3.2.7.4 1 .6l.2.1c.3.2.7.4 1 .5l.2.1c.4.2.7.3 1.1.5l.1.1c.4.2.8.3 1.1.5h.1c.4.1.8.3 1.2.4h.1c.2.1.4.1.6.2.2.1.4.1.7.2h.1c.4.1.9.2 1.3.3.4.1.9.2 1.3.2 1.4.2 2.8.3 4.2.4h1c.5 0 .9 0 1.4-.1.6-.1 1.3-.1 2-.2.6-.1 1.2-.2 1.7-.3.9-.2 1.8-.4 2.6-.7 2.6-.7 4.8-1.7 6.2-2.8 0 0-.9-4-1.6-8-.2-.2-.3-.6-.4-1"></path></g><path fill="#2f83c1" d="M121.4 16.6l-.3-4 2-4.4.8-.2c-1.3-.6-2.9-1-4.7-1.3-3.6-.5-8.2 0-13.4 1.3-5.2 1.3-11.1 3.6-17.3 6.7C76 20.9 62.2 30.4 48.8 42.6c-4.7 4.2-9 8.6-13 12.9-3.9 4.2-7.4 8.5-10.6 12.6-6.5 8.5-11.4 16.7-14.6 24.1-2.1 4.9-3.4 9.4-3.9 13.3-.4 2.8-.3 5.3.2 7.3.2.7.4 1.2.6 1.8.5 1.2 1.1 2.2 1.9 3.1l8.1 8.5.9.9.1-.1c.2-.3.5-.6.8-.8l.1-.1.3-.3c.2-.3.5-.5.7-.8.2-.2.3-.3.5-.4.2-.1.3-.3.5-.4l.2-.2c.2-.1.3-.3.5-.4.2-.2.5-.4.7-.6.1-.1.3-.2.4-.3h.1c.3-.2.5-.4.8-.6.2-.1.3-.2.5-.4.3-.2.5-.4.8-.6.2-.1.3-.2.5-.3.3-.2.6-.4.9-.5.2-.1.3-.2.5-.3.3-.2.6-.3.9-.5.2-.1.3-.2.5-.3l.2-.1c1.9-5.3 4.8-11.2 8.6-17.2 4.6-7.4 10.5-15.2 17.5-23 4.4-4.9 9.2-9.8 14.4-14.5C76.1 58.3 83 52.8 89.8 48c4.6-3.2 9.1-6.1 13.5-8.6.4-.2.8-.5 1.3-.7 1.2-.7 2.3-1.3 3.5-1.9 2.5-1.3 5-2.5 7.4-3.5l-1.2-1.4-.2-.2-1.5-1.7-8.3-10 .1-7.2-.1-.1 5.9-1.8 11.2 5.7"></path><g fill="#fce9cd"><path d="M218.1 184.6s.2-1.5-.6-2.9c0-.1-.1-.2-.1-.2l-.1-.1-.3-.3c-.2-.2-.4-.4-.7-.6-.1-.1-.3-.2-.5-.3-.5-.2-1-.4-1.7-.5-.5-.1-1-.1-1.6-.1H211.7v.2c0 .1.1.2.1.4 0 .1 0 .2.1.2.1.3.2.8.3 1.2 0 0 0 .1-.1.3v.1c-.3.7-1.1 2.3-2.9 4.3-.3.4-.6.7-1 1.1-5 5.2-15.8 12.5-38.6 16.6-7.7 1.1-14.9 1.2-20.9.4-9-1.1-15.7-4-18.9-7.9-.3-.3-.5-.7-.8-1-.2-.3-.3-.5-.5-.8-.1-.1-.1-.2-.2-.3-1.3-2.4-1.9-5-1.9-7.5 0-3.1 1-6 2.6-8.2 1.3-1.8 3-3.2 5.1-3.8 1-.3 2.1-.5 3.2-.4.2 0 .5 0 .9.1.7.1 1.8.2 3.1.4.1 0 .3 0 .4.1 4.3.5 11.1 1.2 19.3.7 15-.9 34.7-5.6 52.6-21.8v-.1c.1-1.4-.1-3.8-1.8-5.7-.3-.3-.6-.6-1-.9-.2-.2-.5-.3-.7-.5-.3-.1-.5-.3-.7-.4l-.9-.6v-.1c-.1-.2-.2-.4-.4-.6-4.6-7-11-11.1-13.6-13-1.2-.9-2-1.3-2-1.3-5.5-3.4-6.3-4.5-5.8-13.6.2-3.3.5-7.6.9-13.5 0-.8.1-1.5.1-2.2v-.5V98.6c0-.5-.1-1-.1-1.4 0-.2 0-.4-.1-.6-.1-.5-.1-1-.2-1.5 0-.2-.1-.5-.1-.7 0-.3-.1-.5-.2-.8-.1-.2-.1-.5-.2-.7-.1-.3-.2-.6-.2-.9 0-.1-.1-.2-.1-.3 0-.1-.1-.2-.1-.3v-.1l-.1-.3c-.1-.2-.2-.4-.2-.6v-.1l-.1-.2-.1-.2c-.2-.4-.3-.8-.5-1.1l-.1-.3c-.2-.3-.4-.7-.6-1l-.1-.1-.1-.1c-.2-.2-.3-.4-.5-.6l-.2-.3c-.2-.3-.4-.5-.6-.7l-.8-.8c-.3-.2-.6-.4-.9-.5-.1-.1-.2-.1-.3-.1l-.6-.3c-.1 0-.2-.1-.3-.1-.2-.1-.4-.1-.5-.2-.1 0-.2-.1-.4-.1s-.3-.1-.5-.1h-2.2c-.1 0-.2 0-.3.1-.1 0-.2 0-.3.1-.2 0-.4.1-.7.2h-.2c-.6.2-1.1.4-1.7.6l-.2.1c-.2.1-.4.2-.7.3l-.3.1-.6.3-.3.2-.6.3-.3.2c-.2.1-.4.3-.6.4l-.2.1c-.2.2-.5.3-.7.5l-.1.1c-.3.2-.5.4-.8.5-.5.3-1 .7-1.5 1-.4.3-.8.6-1.3.9l-.2.1c-.4.3-.9.6-1.3.8l-.2.1c-.4.3-.9.5-1.3.8l-.2.1c-.4.3-.9.5-1.4.7l-.2.1c-.5.2-.9.4-1.4.6l-.2.1c-.5.2-1 .3-1.5.5h-.1c-.5.1-1.1.2-1.6.3-.9.1-1.9.2-2.8.2-1.5 0-3-.1-4.6-.3l-1.5-.3c-.2 0-.4-.1-.5-.1-1.3-.3-2.7-.6-4-.9-.6-.1-1.1-.3-1.7-.4-.9-.2-1.8-.4-2.8-.6-.2 0-.4-.1-.5-.1-.1 0-.3-.1-.4-.1-.2 0-.4-.1-.6-.1-.2 0-.4-.1-.6-.1h-.2c-.2 0-.4-.1-.5-.1-.4-.1-.8-.2-1.3-.2-.1 0-.3 0-.4-.1-.3 0-.6-.1-.9-.1-.2 0-.3 0-.5-.1-.3 0-.5-.1-.8-.1h-4.6c-.5 0-.9.1-1.4.1h-.4c-.3 0-.6.1-.9.1h-.1c-.2 0-.3.1-.5.1-.3.1-.6.1-.9.2-.2 0-.4.1-.5.1-.3.1-.6.2-.9.2-.2 0-.3.1-.5.2-.3.1-.7.2-1 .3-.2.1-.3.1-.4.2-.5.2-1 .4-1.4.6-3.8 2.2-7.1 5.2-9.6 8.6-.9 1.2-1.7 2.4-2.4 3.6-.8 1.3-1.4 2.7-2 4.1-.2.4-.3.8-.5 1.2-.2.7-.5 1.4-.7 2.1 0 .1 0 .2-.1.2-.2.8-.4 1.6-.6 2.5-.2.9-.3 1.7-.4 2.6-.1.5-.1.9-.1 1.4-.1 1.3-.1 2.5 0 3.8v.3c0 .3 0 .6.1 1 .1.9.2 1.8.4 2.7.1.3.2.6.2 1 .1.3.1.6.2.9.6 2.3 1.5 4.4 2.6 6.2 4.1 7.1 10.9 11.4 15.9 13.7 1.9.8 3.9 1.6 6 2.3l-.2.2c-.4.1-.8.2-1.3.3-.7.2-1.6.5-2.5.8-1 .3-2.2.8-3.4 1.3-3.2 1.3-6.8 3.2-10 5.8-.4.3-.8.7-1.2 1-.7.6-1.3 1.2-1.9 1.9l-.2.2-.3.3c-.2.3-.5.5-.7.8l-.3.3c-.3.4-.6.8-.8 1.2-.3.4-.5.8-.8 1.2-1.9 3.3-3 7.3-2.7 12.1v-.2c0-.1 0-.2.1-.3v-.1c0-.1.1-.2.1-.4v-.1c0-.1.1-.3.1-.5s.1-.3.2-.5v-.1c.1-.2.1-.4.2-.6v-.1c.1-.2.1-.4.2-.6v-.1c.1-.2.2-.4.3-.7l.1-.1c.1-.2.2-.5.4-.7.2-.4.4-.7.6-1.1.1-.1.2-.3.3-.4l.1-.1.6-.9c.2-.2.4-.5.6-.7l.2-.2c.2-.2.3-.4.5-.5l.2-.2c.2-.2.5-.4.7-.7 0 0-4.3 9.8-2.4 17.5v-.1-.2-.3-.4-.5c0-.2 0-.4.1-.6 0-.2 0-.4.1-.6v-.1c0-.2.1-.5.1-.7v-.2c.1-.3.1-.5.2-.8v-.1c.1-.3.2-.6.2-.8 0-.1.1-.2.1-.3l.1-.2c.1-.2.2-.5.3-.7.1-.3.3-.6.5-.9 0-.1.1-.2.1-.2l.6-.9s-.2 2.4-.2 5.3c0 .5 0 .9.1 1.4 0 .3 0 .6.1.9.2-3.1.8-6 1.6-8.7-.8 2.7-1.4 5.6-1.6 8.7-.1 2-.1 4 .1 6.1.3 3.5 1.2 7.3 2.7 11.2 0 0-1.4-4.5.6-9l.6 1.2c.2 1.3.4 3.2.8 5.3.4 3.5 2 14 9.2 21.3 0 0-2.7-3.5-2.3-8 .3.6.6 1.1.8 1.6 1.2 2.3 3.6 6.5 6.3 9.5 0 0-2.1-4.1-1.6-5 0 0 7 8.7 9.2 9.5l-2.9-4.8-.1-.1c10.1 7.4 24.1 10.1 41.3 5.3 3-.8 6-1.9 9.2-3.2 1.9-.8 3.8-1.8 5.7-2.8l.3-.2c1.3-.7 2.6-1.5 3.9-2.3 1-.6 2-1.3 2.9-1.9 1.6-1.1 3.2-2.3 4.8-3.6.1-.1.2-.2.3-.2 1.5-1.3 3-2.7 4.3-4.1 1.8-1.9 3.4-3.8 4.8-5.7l.1-.1c.4-.5.7-.9 1-1.4l.1-.1c.1-.2.2-.3.3-.5.5-.7.9-1.3 1.4-2 .1-.2.2-.3.3-.5.2-.4.4-.7.7-1.1.2-.3.3-.5.5-.8.2-.3.4-.6.5-.9.3-.5.6-1.1.9-1.6l.3-.6.6-1.2.3-.6.1-.2c.2-.5.5-1 .7-1.5v-.1c.9-.8 1.5-1.6 2.1-2.3.1-.1.2-.2.2-.3.9-1.3 1.3-2.8 1.3-4.2M56.4 159.1c-.3.1-.6.5-1 1-.1.2-.3.4-.4.7-.9 1.7-1.7 4.1-1.7 4.1.1-.8.2-1.6.2-2.4v-.3c.1-.8.2-1.7.3-2.5v-.3c.1-1 .3-1.9.5-2.8 0-.1 0-.2.1-.4v-.1c0-.1 0-.2.1-.3 0-.2.1-.3.1-.5.1-.7.3-1.4.4-2.1.1-.6.2-1.2.3-1.7v-.2c0-.1 0-.2.1-.2v-.2c0-.1.1-.3.1-.4 0-.1 0-.2.1-.3 0-.2.1-.4.1-.5 0-.1.1-.3.1-.4 0-.2.1-.4.1-.5 0-.1 0-.2.1-.3 0-.1 0-.2.1-.2 0-.2.1-.3.1-.4V147.6l-.2.2c-.2.1-.3.3-.5.4l-.2.2c-.2.2-.4.4-.5.6l-.1.1-.6.9-.1.1c0 .1-.1.1-.1.2l-.3.6v.2c-.1.3-.3.6-.4.9-.3.8-.6 1.6-.8 2.3-.1.2-.1.5-.2.6-.1.4-.2.8-.2.9v.1-.1c0-.3 0-.5.1-.8 0-.5.1-1.1.1-1.6 0-.4.1-.9.2-1.3 0-.1 0-.3.1-.4 0-.2.1-.4.1-.6 0-.2.1-.4.1-.6V150.2c0-.2.1-.5.1-.7v-.5-.2c0-.1 0-.2.1-.3.1-.3.2-.7.2-1v-.1c.1-.2.1-.5.2-.7v-.1c.1-.5.3-1 .4-1.5v-.2c0-.1 0-.2.1-.3.2-.8.5-1.6.7-2.3v-.1c.2-.6.5-1.3.7-1.9v-.1c.1-.3.2-.5.3-.8.2-.4.3-.8.5-1.2 0-.1.1-.3.3-.7.1-.1.1-.3.2-.4.1-.2.2-.4.3-.7l.1-.2c-.1-.1-.3-.1-.4-.2h-.1l-.2-.1c-.9-.4-1.9-.8-2.9-1.1h-.2c-.7-.2-1.3-.3-2-.4-.4 0-.8-.1-1.2-.1h-1c-.5 0-1 .1-1.5.1-.2 0-.3 0-.5.1-.2 0-.5.1-.7.1-.1 0-.2 0-.3.1-.2 0-.3.1-.5.1-.3.1-.7.2-1 .3-.1 0-.3.1-.4.1-.4.2-.9.3-1.3.5-.2.1-.3.2-.5.2l-.6.3-.2.1c-.2.1-.4.2-.6.4-.2.1-.4.2-.6.4-.2.1-.4.3-.6.4-.1.1-.3.2-.4.3-.3.3-.7.6-1 .9l-.5.5c-.3.3-.5.6-.8.9l-.1.1c-.1.2-.3.3-.4.5l-.3.3c-.5.7-1 1.5-1.4 2.3-.1.1-.1.2-.2.3-.2.4-.3.8-.5 1.2-.1.2-.1.3-.2.5-.1.4-.3.8-.4 1.3v.4c-.1.3-.1.6-.2.9 0 .2 0 .3-.1.5 0 .2 0 .3-.1.5v.4c0 .5-.1 1 0 1.5 0 .4 0 .8.1 1.2v.2c0 .2.1.4.1.6.1.8.3 1.5.5 2.3.2.6.4 1.1.6 1.6.4 1 .9 1.9 1.5 2.8 1.2 1.8 2.8 3.4 4.7 4.6 1 .7 2.2 1.2 3.4 1.6 1.1.4 2.3.7 3.6.8.3 0 .6.1.8.1h1.3c.4 0 .8-.1 1.2-.1.2 0 .5 0 .7-.1.6-.1 1.1-.2 1.7-.3h.1c.2-.1.4-.1.7-.2.7-.2 1.4-.5 2-.8l.1-.1c.2-.1.4-.2.5-.2-.3-1.7-.6-3.5-.7-5.3.5-.2.5-.3.5-.4"></path></g><path fill="#4d9ed7" d="M123.9 17.8l.3.2z"></path><path fill="#fff" d="M212 180.5c0-.1 0-.2-.1-.2-.1-.2-.1-.3-.1-.4-.5-1.6-1.1-2.8-1.7-3.7-.7-1.1-1.3-1.7-1.3-1.7l.3-1.2c.1-.5.2-1 .2-1.5.4-3.6-.5-6.4-1.3-8-.1-.3-.2-.5-.3-.7-.6.4-1.1.8-1.7 1.2-10.8 7.3-22.9 12-36 14-9 1.4-18.5 1.5-28.4.3l.2.1s-6 .8-7.6 6.5l.1.1-.5 3.8c.2 5.2 2.5 8.4 5.2 10.1 2.8 1.1 6.2 1.9 10 2.4 6.5.8 14.1.6 21.7-.6 10.2-1.4 24.6-6.8 34.9-13.8 2.3-1.6 4.5-3.3 6.3-5l.1-.1.1-.1c0-.7-.1-1.1-.1-1.5"></path><g fill="#f2d2ac"><path d="M192.5 131.1c-5.5-3.4-6.3-4.5-5.8-13.6.2-3.3.5-7.6.9-13.5 0-.8.1-1.5.1-2.2v-.5V98.9c0-.5-.1-1-.1-1.4 0-.2 0-.4-.1-.6-.1-.5-.1-1-.2-1.5 0-.2-.1-.5-.1-.7 0-.3-.1-.5-.2-.8-.1-.2-.1-.5-.2-.7-.8-1.2-1.7-2.2-2.8-3.1l-.2-.2-.2-.1h-.1c-.2-.1-.3-.2-.5-.3-.2-.1-.4-.2-.5-.3-1.6-1-3.5-1.6-5.4-1.9-1.1-.2-2.2-.2-3.3-.2-.5 0-1.1.1-1.6.1-1.4.2-2.8.5-4.3.9-.5.3-1 .7-1.5 1-.4.3-.8.6-1.3.9l-.2.1c-.4.3-.9.6-1.3.8l-.2.1c-.4.3-.9.5-1.3.8l-.2.1c-.4.3-.9.5-1.4.7l-.2.1c-.5.2-.9.4-1.4.6l-.2.1c-.5.2-1 .3-1.5.5h-.1c-.5.1-1.1.2-1.6.3-.9.1-1.9.2-2.8.2-1.5 0-3-.1-4.6-.3l-1.5-.3c-.2 0-.4-.1-.5-.1-1.3-.3-2.7-.6-4-.9-.6-.1-1.1-.3-1.7-.4-.9-.2-1.8-.4-2.8-.6-.2 0-.4-.1-.5-.1-.8 0-1.6.1-2.3.2h-.2c-2.3.3-4.5.8-6.8 1.6-.1 0-.2.1-.4.1-.4.1-.7.3-1.1.4-.5.2-.9.4-1.4.6-3.3 1.4-6.4 3.4-9.4 5.9-1.2 1-2.3 2.1-3.4 3.2-1.6 1.7-3 3.5-4.3 5.4-.1.1-.1.2-.2.3-.7 1-1.3 2.1-1.8 3.1-.2.4-.4.8-.6 1.1v.1c-.6 1.3-1.1 2.5-1.5 3.8 0 .1 0 .2-.1.2-.1.2-.1.4-.2.6-.2.6-.4 1.2-.5 1.8-.2.6-.3 1.2-.4 1.9 0 .1-.1.3-.1.4-.1.4-.1.8-.2 1.1-.2 1.4-.3 2.8-.4 4.2v1c.6 2.3 1.5 4.4 2.6 6.2 4.1 7.1 10.9 11.4 15.9 13.7 1.9.8 3.9 1.6 6 2.3l.1.1.1-.1c.3-.2.5-.4.8-.6.1-.1.2-.1.3-.2l.9-.6c.1-.1.2-.1.3-.2l.9-.6c.1-.1.2-.1.3-.2.3-.2.6-.4 1-.6.1-.1.2-.1.3-.2.3-.2.7-.4 1-.6.1-.1.2-.1.3-.2.3-.2.7-.4 1-.6.1-.1.3-.1.4-.2.3-.2.7-.4 1-.6.1-.1.3-.2.4-.2.3-.2.7-.4 1.1-.6.2-.1.3-.2.5-.2.4-.2.7-.4 1.1-.5.2-.1.3-.2.5-.2.4-.2.7-.3 1.1-.5l.6-.3c.4-.2.7-.3 1.1-.5.2-.1.4-.2.7-.3.4-.1.7-.3 1.1-.4.2-.1.5-.2.7-.3.4-.1.7-.3 1.1-.4.3-.1.5-.2.8-.3.4-.1.7-.3 1.1-.4l.9-.3c.3-.1.7-.2 1-.4.3-.1.7-.2 1-.3.3-.1.7-.2 1-.3.4-.1.8-.2 1.1-.3.3-.1.6-.2 1-.3.4-.1.8-.2 1.3-.4.2-.1.4-.1.6-.2 1.6-4.1 6.5-14.3 14.8-15.4.9-.1 1.7-.2 2.5-.2h.6c-.1-.6-.2-1.2-.2-1.9-.3-4.4 1.1-8.1 3-8.2 1.5-.1 2.7 2.1 2.9 2.8.6 1.3 1 3 1.1 4.9.1 1.7-.1 3.3-.4 4.7.2.2.3.4.5.5 1.9 2.4 2.2 5.6 2.1 8 .7-.1 1.5-.1 2.3-.2.2 0 .4 0 .6-.1h.4c.9-.1 1.9-.2 2.9-.2 2.2-.2 4.4-.3 6.7-.4-1.3-.7-2.1-1.1-2.1-1.1M213.4 192.7c-3.6 3.2-7.4 5.8-11.2 7.9-1.9 1-3.8 1.9-5.6 2.7-4.1 1.8-8 3-11.5 3.9-7.7 1.9-13 1.9-13 1.9 4.2 2.3 9.5 2.3 13.1 2 2.5-.2 4.2-.7 4.2-.7-.1 1.5-.3 2.9-.5 4.3-.3 1.5-.7 2.8-1.2 4v.1c-.6 1.5-1.4 2.8-2.2 4-.1.1-.2.3-.3.4l.3-.2c1.3-.7 2.6-1.5 3.9-2.3 1-.6 2-1.3 2.9-1.9 1.6-1.1 3.2-2.3 4.8-3.6.1-.1.2-.2.3-.2 1.5-1.3 3-2.7 4.3-4.1 1.8-1.9 3.4-3.8 4.8-5.7l.1-.1c.4-.5.7-.9 1-1.4l.1-.1c.1-.2.2-.3.3-.5.5-.7.9-1.3 1.4-2 .1-.2.2-.3.3-.5.2-.4.4-.7.7-1.1.2-.3.3-.5.5-.8.2-.3.4-.6.5-.9.3-.5.6-1.1.9-1.6l.3-.6.6-1.2.3-.6.1-.2c.2-.5.5-1 .7-1.5-.4.1-.6.3-.9.6M122.2 152.4c-1 .3-2.2.8-3.4 1.3-3.2 1.3-6.8 3.2-10 5.8-.4.3-.8.7-1.2 1-.7.6-1.3 1.2-1.9 1.9l-.2.2-.3.3c-.2.3-.5.5-.7.8l-.3.3c-.3.4-.6.8-.8 1.2-.3.4-.5.8-.8 1.2-1.9 3.3-3 7.3-2.7 12.1v-.2c0-.1 0-.2.1-.3v-.1c0-.1.1-.2.1-.4v-.1c0-.1.1-.3.1-.5s.1-.3.2-.5v-.1c.1-.2.1-.4.2-.6v-.1c.1-.2.1-.4.2-.6v-.1c.1-.2.2-.4.3-.7l.1-.1c.1-.2.2-.5.4-.7.2-.4.4-.7.6-1.1.1-.1.2-.3.3-.4l.1-.1.6-.9c.2-.2.4-.5.6-.7l.2-.2c.2-.2.3-.4.5-.5l.2-.2c.2-.2.5-.4.7-.7 0 0-4.3 9.8-2.4 17.5v-.1-.2-.3-.4-.5c0-.2 0-.4.1-.6 0-.2 0-.4.1-.6v-.1c0-.2.1-.5.1-.7v-.2c.1-.3.1-.5.2-.8v-.1c.1-.3.2-.6.2-.8 0-.1.1-.2.1-.3l.1-.2c.1-.2.2-.5.3-.7.1-.3.3-.6.5-.9 0-.1.1-.2.1-.2l.6-.9s-.2 2.4-.2 5.3c0 .5 0 .9.1 1.4 0 .3 0 .6.1.9.2-3.1.8-6 1.6-8.7.2-.7.5-1.5.7-2.2 0-.1.1-.2.1-.3.3-.7.5-1.3.8-2 .1-.1.1-.2.2-.4.3-.6.6-1.3.9-1.9.1-.1.1-.2.1-.3.7-1.3 1.4-2.5 2.1-3.6.1-.1.1-.2.2-.3.3-.4.6-.8.9-1.3.1-.1.1-.2.2-.3.1-.1.1-.2.2-.3.4-.5.7-1 1.1-1.5.1-.1.1-.2.2-.2.4-.5.8-1 1.2-1.4.5-.6 1-1.1 1.5-1.7.4-.4.7-.8 1.1-1.1l.4-.4c.8-.8 1.6-1.6 2.4-2.3 2.2-2 4-3.3 4.6-3.7-.4.1-.8.2-1.3.3-.6.3-1.4.6-2.4.9"></path><path d="M179.8 130.7s0-.2-.1-.6c-.4-1.4-1.8-4.8-7.3-4.3-5.8.6-7.8 5.3-8.3 6.9-.1.3-.1.5-.1.5l.2.1c.7-.6 2.1-.6 3.4.3.6.4 1 .8 1.4 1.3.5.8.6 1.6.3 2.2l-.3.3s.2.1.6.2c1.6.5 6.1 1.4 8.5-1.7.1-.2.2-.3.3-.5-.5-.2-.7-.9-.7-1.8 0-.4.1-.8.2-1.3.3-1.2 1.2-1.9 1.9-1.6M150.9 173.5c-3.8.8-7.1 1.4-9.6 1.8.1 0 .3 0 .4.1 4.3.5 11.1 1.2 19.3.7 15-.9 34.7-5.6 52.6-21.8v-.1c.1-1.4-.1-3.8-1.8-5.7-.3-.3-.6-.6-1-.9-.1 0-.1-.1-.2-.1-.5-.3-.9-.5-1.3-.8l-.9-.6v-.1c-1.1 1.6-2.4 3.1-3.8 4.5-.5.5-1 1-1.6 1.5-4.9 4.4-11.3 8.2-18.2 11.2-11.4 5-24.2 8.3-33.9 10.3M56.1 147.4c-.2.1-.3.3-.5.4l-.2.2c-.2.2-.4.4-.5.6l-.1.1-.6.9-.1.1c0 .1-.1.1-.1.2l-.3.6v.2c-.1.3-.3.6-.4.9-.3.8-.6 1.6-.8 2.3-.1.2-.1.5-.2.6-.1.4-.2.8-.2.9v.1-.1c0-.3 0-.5.1-.8 0-.5.1-1.1.1-1.6 0-.4.1-.9.2-1.3 0-.1 0-.3.1-.4 0-.2.1-.4.1-.6 0-.2.1-.4.1-.6V149.8c0-.2.1-.5.1-.7v-.5-.2c0-.1 0-.2.1-.3.1-.3.2-.7.2-1v-.1c.1-.2.1-.5.2-.7v-.1c.1-.5.3-1 .4-1.5v-.2c0-.1 0-.2.1-.3.2-.8.5-1.6.7-2.3v-.1c.2-.6.5-1.3.7-1.9v-.1c.1-.3.2-.5.3-.8.2-.4.3-.8.5-1.2 0-.1.1-.3.3-.7.1-.1.1-.3.2-.4.1-.2.2-.4.3-.7l.1-.2c-.1-.1-.3-.1-.4-.2h-.1l-.2-.1c-.9-.4-1.9-.8-2.9-1.1h-.2c-.7-.2-1.3-.3-2-.4-.4 0-.8-.1-1.2-.1h-1c-.5 0-1 .1-1.5.1-.2 0-.3 0-.5.1-.2 0-.5.1-.7.1-.1 0-.2 0-.3.1-.2 0-.3.1-.5.1-.3.1-.7.2-1 .3-.1 0-.3.1-.4.1-.4.2-.9.3-1.3.5-.2.1-.3.2-.5.2l-.6.3-.2.1c-.2.1-.4.2-.6.4-.2.1-.4.2-.6.4-.2.1-.4.3-.6.4-.1.1-.3.2-.4.3-.3.3-.7.6-1 .9l-.5.5c-.3.3-.5.6-.8.9l-.1.1c-.1.2-.3.3-.4.5l-.3.3c-.5.7-1 1.5-1.4 2.3-.1.1-.1.2-.2.3-.2.4-.3.8-.5 1.2-.1.2-.1.3-.2.5 0 .1.1.2.1.3.1.4.2.7.3 1.1v.2c.1.3.3.7.4 1 .4 1 .8 1.9 1.3 2.7.1.1.1.2.2.3v.1l.1.1c.3.6.6 1.1.9 1.5.5.7.9 1.2 1.2 1.6l.2.2c0 .1.1.1.1.1l.2.2c0-.2-.1-.4-.1-.5-.3-1.3-.4-2.5-.4-3.8v-.2c0-.8 0-1.6.1-2.3l.3.9c.1.4.3.8.4 1.2v.2c.6 1.7 1.3 3.1 2 4.2.8 1.4 1.5 2.3 2 2.9.1.1.2.2.2.3l.2.2c-.3-1.4-.5-2.7-.5-4v-1.3c0-.6 0-1.1.1-1.6.2.9.5 1.8.8 2.6v.1c1.1 2.9 2.4 5 3.3 6.3l.1.1c.2.2.3.4.4.6.1.1.2.2.2.3l.2.2.1.1v-.2c0-.2-.1-.4-.1-.6-.1-.7-.2-1.4-.3-2 0-.4-.1-.9-.1-1.3v-1.2-.2V154.5c0-.5.1-1.1.1-1.6.1.3.2.7.3 1 .1.2.2.5.3.7v.1l.1.1c.1.3.2.6.3.8.2.5.4 1 .7 1.4.3.6.5 1.1.8 1.5.2.3.3.5.4.7.2.3.4.6.5.8.2.2.3.4.4.6l.1.1c.1.2.3.3.4.5.1.1.2.2.2.3.2.2.3.4.4.4l.1.1v-.3c.1-.8.2-1.7.3-2.5v-.3c.1-1 .3-1.9.5-2.8 0-.1 0-.2.1-.4v-.1c0-.1 0-.2.1-.3 0-.2.1-.3.1-.5.1-.7.3-1.4.4-2.1.1-.6.2-1.2.3-1.7v-.2c0-.1 0-.2.1-.2v-.2c0-.1.1-.3.1-.4 0-.1 0-.2.1-.3 0-.2.1-.4.1-.5 0-.1.1-.3.1-.4 0-.2.1-.4.1-.5 0-.1 0-.2.1-.3 0-.1 0-.2.1-.2 0-.2.1-.3.1-.4V147.1l.5.3M177.3 189.2c1.4-.5 2.6-.9 3.6-1.3 1.9-.8 2.9-1.4 2.9-1.6-.1-.2-1.2-.1-3.2.4-1 .2-2.2.4-3.7.8-.7.2-1.5.3-2.3.4-.8.1-1.7.3-2.6.4-1.8.3-3.8.5-6 .7l-3.3.3c-1.1.1-2.3.1-3.5.2-4.8.1-10.1-.1-15.5-1.1-2.8-.5-6.7-1.8-9.4-3.3l-.1-.1c1.6-5.7 7.6-6.5 7.6-6.5l-.2-.1h-.3c-.9-.1-1.6-.2-2.3-.3-.5-.1-.9-.1-1.2-.2-.3 0-.6-.1-.7-.1-3.6-.2-5.6 2.8-6.2 4.1l-.3.6c-.5 1.2-.9 2.5-1 4-.2 2.7.5 5.6 2.6 8.1 1.4 1.7 3.8 3.2 6.9 4.4-2.7-1.7-5.1-5-5.2-10.1 3.1 1.3 6.6 2.1 9.3 2.6 5.7 1.1 11.3 1.2 16.2.9 1.2-.1 2.5-.2 3.6-.3 1.2-.2 2.3-.3 3.4-.4 2.2-.4 4.1-.7 6-1.1.9-.2 1.8-.4 2.6-.7.9-.2 1.6-.4 2.3-.7"></path></g><g fill="#664f44"><path d="M172.6 122.4c3 .1 5 1 6.4 2.4.3-1.3.5-2.9.4-4.7-.1-1.9-.5-3.6-1.1-4.9-.2-.8-1.4-2.9-2.9-2.8-1.9.1-3.3 3.8-3 8.2 0 .6.1 1.2.2 1.8M177.6 133.7c0 .8.3 1.5.7 1.8.7.4 1.6-.4 2-1.7 0-.1.1-.2.1-.3.3-1.2 0-2.4-.7-2.7-.7-.4-1.6.4-2 1.7 0 .4-.1.8-.1 1.2M164 135.9c.3.5.8 1 1.4 1.4 1.3.8 2.7.9 3.5.2l.3-.3c.3-.6.2-1.4-.3-2.2-.3-.5-.8-1-1.4-1.3-1.3-.8-2.7-.9-3.4-.3-.1.1-.2.2-.3.4-.3.5-.2 1.3.2 2.1M213.7 154.2c-.1 0-.1 0 0 0M212.1 181.9c-1.9 1.8-4 3.5-6.4 5.1-10.3 7-24.7 12.5-34.9 13.8-7.7 1.2-15.2 1.4-21.7.6-3.8-.5-7.1-1.3-10-2.4-3.1-1.2-5.5-2.7-6.9-4.4-2.1-2.5-2.7-5.5-2.6-8.1.1-1.4.4-2.8 1-4l.3-.6c.7-1.3 2.6-4.4 6.2-4.1.1 0 .4 0 .7.1.3 0 .8.1 1.2.2.7.1 1.4.2 2.3.3h.3c9.9 1.2 19.4 1.1 28.4-.3 13.1-2 25.2-6.7 36-14 .6-.4 1.1-.8 1.7-1.2l5.9-8.8c-17.9 16.3-37.6 21-52.6 21.9-8.2.5-15-.1-19.3-.7-.2 0-.3 0-.4-.1-1.3-.2-2.3-.3-3.1-.4-.4 0-.7-.1-.9-.1-1.1-.1-2.2.1-3.2.4-2 .6-3.8 2-5.1 3.8-1.6 2.2-2.6 5.2-2.6 8.2 0 2.5.6 5.1 1.9 7.5.1.1.1.2.2.3.2.3.3.5.5.8.2.3.5.7.8 1 3.1 3.9 9.9 6.7 18.9 7.9 6.1.8 13.2.7 20.9-.4 22.8-4.1 33.6-11.5 38.6-16.6.4-.4.7-.7 1-1.1 1.8-2.1 2.6-3.7 2.9-4.3v-.1c.1-.2.1-.3.1-.3l-.1.1"></path></g><g fill="#e9b784"><path d="M139.6 102.9c-.7-.4-1.5-.7-2.3-.9-.5-.1-1-.2-1.6-.3-.2 0-.4 0-.6-.1-2.7-.2-5 .2-5 .2-.5.1-1 .2-1.4.4-3.6 1.1-6.1 3-7.9 5.2-1.4 1.8-2.4 3.7-2.9 5.6-.1.2-.1.3-.1.5-.1.5-.3 1-.4 1.4-.3 1.6-.5 3-.5 4.2 0 1.6.1 2.6.1 2.6.6-1.4 1.3-2.6 2-3.8 1.7-2.9 3.5-5.3 5.4-7.2 3.6-3.7 7.3-5.7 10.1-6.7 3-1 5.1-1.1 5.1-1.1M182.9 97.8l-.1-.2c-.4-.5-.9-1-1.5-1.4-1.4-.9-3.3-1.4-5.9-.9 0 0-3.1.7-4.9 2.8 0 0 5.4-2.3 11.2 1.8.5.4 1.1.8 1.6 1.3s1.1 1 1.6 1.7c0 0-.2-2.5-1.7-4.7-.1-.2-.2-.3-.3-.4"></path></g><path fill="#664f44" d="M140.3 137.6c2.1-.6 4.3-1.2 6.8-1.8.4-1.9.5-4.2.2-6.7-.7-5.8-3.3-10.3-5.9-10-2.6.3-4.1 5.3-3.4 11.1.4 3 1.2 5.6 2.3 7.4"></path><path fill="#ffd250" d="M128.4 6.9L123 8.1l1.1 9.8-14.3-7.3-5.9 1.8.1.1 17.4 19.8.2-.1.2-.1c.5-.3 1.1-.7 1.6-1 .2-.1.4-.2.6-.4.8-.5 1.6-1 2.4-1.4l-7.4-8.5 11.9 5.8c.4-.2.7-.4 1.1-.6l-1.1-8.5 5.4 6.3h.1c.5-.2.9-.5 1.4-.7l.2-.1.2-.1c.1 0 .2-.1.2-.1l.6-.3s.1 0 .1-.1c.6-.3 1.3-.6 1.9-.9L128.4 6.9"></path><g fill="#4d9ed7"><path d="M123.1 8.4v-.3.3M123.1 8.1l.8-.2c-1.3-.6-2.9-1-4.7-1.3-3.6-.5-8.2 0-13.4 1.3-5.2 1.3-11.1 3.6-17.3 6.7C76 20.8 62.2 30.3 48.8 42.5c-4.7 4.2-9 8.6-13 12.9l16.2 20c4.4-4.8 9.1-9.6 14.3-14.3 6.9-6.3 13.9-11.9 20.8-16.7 6.7-4.7 13.4-8.7 19.7-11.9L104 19.7l.1-7.2-.1-.1 5.9-1.8 11.5 5.9-.3-4 2-4.4"></path></g><g fill="#132134"><path d="M123.1 8.1l-2 4.4.3 4.1 2.8 1.4zM119 20.8l12 5.9-4.6 2.6zM131 17.5l1.1 8.5 4.3-2.2z"></path></g><path fill="#fff" d="M176.2 14.4h2.2c2 0 3.9.3 5.7.7.1 0 .2 0 .3.1h.1l.2.1h.2c-.2-.1-.4-.3-.6-.4-2-.8-4.1-1.3-6.3-1.6-10.8-1.4-23.2 2.6-30.2 5.4-.4.2-.8.3-1.2.5-.6.3-1.2.5-1.8.8-1 .4-2 .9-3.1 1.4-.2.1-.3.1-.5.2-.6.3-1.3.6-1.9.9 0 0-.1 0-.1.1l-.6.3c-.1 0-.2.1-.2.1h-.4l-.1.1c-.5.2-.9.4-1.4.7h-.1c-.1.1-.2.1-.3.2h-.1c-.1 0-.2.1-.2.1-.7.4-1.4.7-2.1 1.1-.5.3-1 .5-1.5.8h-.1c-.4.2-.7.4-1.1.6-1.2.6-2.3 1.3-3.5 2-.1.1-.2.1-.4.2-.1.1-.2.1-.3.2-.1.1-.2.1-.3.2l-.1.1c-.8.5-1.6.9-2.4 1.4-.2.1-.4.2-.6.4-.5.3-1.1.7-1.6 1l-.2.1-.2.1-4.5 3c-2.5 1.7-4.9 3.4-7.3 5.2-.3.2-.6.5-.9.7-6.3 4.7-12.3 9.8-18.1 15-6.1 5.6-12 11.3-17.5 17.1-3 3-5.6 5.7-7.6 7.9-4.2 4.5-6.5 7.3-6.4 7.4 0 0 .4-.3 1.1-1-.5.6-1.1 1.3-1.6 1.9 9.2-9.8 19.3-19.8 30.2-29.2 6.6-5.7 13.5-11.2 20.6-16.3 3.1-2.2 6.3-4.4 9.5-6.5 1-.7 2.1-1.3 3.1-2 .5-.3 1-.6 1.6-.9.3-.2.6-.4.9-.5.6-.3 1.1-.7 1.7-1 .5-.3 1.1-.6 1.6-1 .3-.2.6-.3.9-.5l2.1-1.2c.4-.2.8-.5 1.2-.7 1.3-.7 2.6-1.4 4-2.1.1-.1.2-.1.3-.2l.6-.3c.3-.1.5-.3.8-.4.1-.1.2-.1.3-.2l.6-.3s.1 0 .1-.1h.1c.6-.3 1.2-.6 1.7-.8.1 0 .2-.1.3-.2l.6-.3c.7-.3 1.3-.6 2-.9.2-.1.4-.2.5-.3.1 0 .2-.1.3-.1.2-.1.4-.2.6-.2.8-.3 1.5-.7 2.3-1 .7-.3 1.3-.6 2-.9 3.8-1.6 7.3-2.9 10.6-4 6.2-1.7 11.7-2.8 16.5-3"></path></svg>
                                    </div>
                                    <div class="card-body text-center">
                                        <p class="card-text para16">In nulla posuere sollicitudin aliquam ultrices sagittis orci. Vitae sapien pellentesque.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="row">
                        <div class="col-12">
                            <div class="kort-1">
                                <div class="kart bg-white" style="width:100%;">
                                    <div class="text-center  kort-img d-flex justify-content-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="30" viewBox="0 0 48 48">
                                            <path fill="#FFB300" d="M31.2,10.6l-6.6,2.3l-1.4-4.3c-0.6-1.8,0.3-3.8,2.2-4.4c1.8-0.6,3.8,0.3,4.4,2.2L31.2,10.6z M29.2,26.6l6.6-2.3l-2.3-7.1l-6.6,2.3L29.2,26.6z M32.6,36.8c0.5,1.4,1.9,2.4,3.3,2.4c0.4,0,0.8-0.1,1.1-0.2c1.8-0.6,2.8-2.6,2.2-4.4L38,31l-6.6,2.3L32.6,36.8z"></path>
                                            <path fill="#00BFA5" d="M17.2,15.5l-6.6,2.3l-1.4-4.2c-0.6-1.8,0.3-3.8,2.2-4.4c1.8-0.6,3.8,0.3,4.4,2.2L17.2,15.5z M18.6,41.8c0.5,1.4,1.9,2.4,3.3,2.4c0.4,0,0.8-0.1,1.1-0.2c1.8-0.6,2.8-2.6,2.2-4.4l-1.2-3.7l-6.6,2.3L18.6,41.8z M19.4,22.2l-6.6,2.3l2.3,7.1l6.6-2.3L19.4,22.2z"></path>
                                            <path fill="#00BCD4" d="M33.4,17.3l-2.2-6.6l4.1-1.4c1.8-0.6,3.8,0.3,4.4,2.2c0.6,1.8-0.3,3.8-2.2,4.4L33.4,17.3z M26.8,19.6l-2.2-6.6l-7.4,2.6l2.2,6.6L26.8,19.6z M6.4,19.3c-1.8,0.6-2.8,2.6-2.2,4.4c0.5,1.5,1.9,2.4,3.3,2.4c0.4,0,0.8-0.1,1.1-0.2l4.1-1.4l-2.2-6.6L6.4,19.3z"></path>
                                            <path fill="#E91E63" d="M15.1,31.5l2.2,6.6l-4.7,1.6c-0.4,0.1-0.8,0.2-1.1,0.2c-1.5,0-2.8-0.9-3.3-2.4c-0.6-1.8,0.3-3.8,2.2-4.4L15.1,31.5z M43.7,25.3c-0.6-1.8-2.6-2.8-4.4-2.2l-3.5,1.2L38,31l3.6-1.2C43.4,29.1,44.4,27.1,43.7,25.3z M21.7,29.2l2.2,6.6l7.4-2.6l-2.2-6.6L21.7,29.2z"></path>
                                            <path fill="#388E3C" d="M33.4 17.3L31.2 10.6 24.6 12.9 26.8 19.6z"></path>
                                            <path fill="#00897B" d="M17.2 15.5L10.6 17.8 12.8 24.5 19.4 22.2z"></path>
                                            <path fill="#BF360C" d="M29.2 26.6L31.4 33.3 38 31 35.8 24.3z"></path>
                                            <path fill="#4E342E" d="M15.1 31.5L17.3 38.2 23.9 35.9 21.7 29.2z"></path>
                                        </svg>
                                    </div>
                                    <div class="card-body text-center d-flex justjustify-content-start ">

                                        <p class="card-text para16">ultrices neque ornare aenean. Vivamus arcu felis bibendum ut tristique .</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="kort-1">
                                <div class=" kart bg-white " style="width:100%;">
                                    <div class="text-center  kort-img d-flex justify-content-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="none" viewBox="0 0 48 48" id="dropbox"><rect width="48" height="48" fill="#0062FF" rx="24"></rect><path fill="#fff" d="M16 11.5023L8 16.6344L16 21.691L24 16.6344L16 11.5023ZM32 11.5023L24 16.6344L32 21.691L40 16.6344L32 11.5023ZM8 26.8231L16 31.9552L24 26.8231L16 21.691L8 26.8231ZM32 21.691L24 26.8231L32 31.9552L40 26.8231L32 21.691ZM16 33.6156L24 38.7476L32 33.6156L24 28.559L16 33.6156Z"></path></svg>
                                    </div>
                                    <div class="card-body text-center">
                                        <p class="card-text para16">faucibus interdum posuere. Ullamcorper a lacus vestibulum sed arcu non.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="row">
                        <div class="col-12 kort-1">
                            <div class=" ">
                                <div class="kart bg-white" style="width:100%;">
                                    <div class="text-center  kort-img d-flex justify-content-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="30" viewBox="0 0 48 48">
                                            <path fill="#e0e0e0" d="M5.5,40.5h37c1.933,0,3.5-1.567,3.5-3.5V11c0-1.933-1.567-3.5-3.5-3.5h-37C3.567,7.5,2,9.067,2,11v26C2,38.933,3.567,40.5,5.5,40.5z"></path>
                                            <path fill="#d9d9d9" d="M26,40.5h16.5c1.933,0,3.5-1.567,3.5-3.5V11c0-1.933-1.567-3.5-3.5-3.5h-37C3.567,7.5,2,9.067,2,11L26,40.5z"></path>
                                            <path fill="#eee" d="M6.745,40.5H42.5c1.933,0,3.5-1.567,3.5-3.5V11.5L6.745,40.5z"></path>
                                            <path fill="#e0e0e0" d="M25.745,40.5H42.5c1.933,0,3.5-1.567,3.5-3.5V11.5L18.771,31.616L25.745,40.5z"></path>
                                            <path fill="#ca3737" d="M42.5,9.5h-37C3.567,9.5,2,9.067,2,11v26c0,1.933,1.567,3.5,3.5,3.5H7V12h34v28.5h1.5c1.933,0,3.5-1.567,3.5-3.5V11C46,9.067,44.433,9.5,42.5,9.5z"></path>
                                            <path fill="#f5f5f5" d="M42.5,7.5H24H5.5C3.567,7.5,2,9.036,2,11c0,1.206,1.518,2.258,1.518,2.258L24,27.756l20.482-14.497c0,0,1.518-1.053,1.518-2.258C46,9.036,44.433,7.5,42.5,7.5z"></path>
                                            <path fill="#e84f4b" d="M43.246,7.582L24,21L4.754,7.582C3.18,7.919,2,9.297,2,11c0,1.206,1.518,2.258,1.518,2.258L24,27.756l20.482-14.497c0,0,1.518-1.053,1.518-2.258C46,9.297,44.82,7.919,43.246,7.582z"></path>
                                        </svg>
                                    </div>
                                    <div class="card-body text-center d-flex justify-content-start">

                                        <p class="card-text para16">Odio aenean sed adipiscing diam donec adipiscing tristique risus nec. Dictum sit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="kort-1">
                                <div class="kart cart-1 bg-white" style="width:100%;">
                                    <div class="text-center kort-img d-flex justify-content-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" viewBox="0 0 113.318 135.443" id="evernote"><path fill="none" d="M86.628 56.262c-5.457-.191-6.996 4.39-7.459 8.12a26.999 26.999 0 0 1 5.231-.316c3.437.12 6.588.846 9.134 1.979-.021-3.865-.865-9.574-6.906-9.783z"></path><path fill="#74BB44" d="M11.318 26.233H24.039a1.318 1.318 0 0 0 1.315-1.314c0-.005-.154-10.902-.154-13.929v-.037c0-2.487.521-4.656 1.433-6.476l.433-.815a.267.267 0 0 0-.145.079l-24.7 24.493a.277.277 0 0 0-.092.145c.511-.253 1.21-.6 1.308-.643 2.149-.972 4.758-1.503 7.881-1.503z"></path><path fill="#74BB44" d="M110.23 23.566c-1.01-5.404-4.225-8.068-7.131-9.116-3.133-1.133-9.491-2.307-17.475-3.247-6.426-.758-13.979-.696-18.541-.557-.547-3.75-3.177-7.176-6.121-8.362C53.124-.87 41.005-.108 37.897.763c-2.473.692-5.209 2.107-6.73 4.288-1.021 1.459-1.683 3.325-1.688 5.934 0 1.476.041 4.953.079 8.044.036 3.098.079 5.871.079 5.891a5.015 5.015 0 0 1-5.01 5.008H11.913c-2.711 0-4.784.455-6.367 1.174-1.585.72-2.708 1.69-3.561 2.838C.288 36.218-.007 39.031 0 41.903c0 0 .024 2.345.589 6.886.471 3.512 4.281 28.054 7.9 35.518 1.403 2.902 2.339 4.115 5.094 5.395 6.142 2.63 20.17 5.556 26.747 6.394 6.562.84 10.682 2.604 13.136-2.543.008-.016.493-1.278 1.157-3.144 2.132-6.456 2.429-12.187 2.429-16.332 0-.423.619-.441.619 0 0 2.928-.561 13.288 7.266 16.065 3.091 1.094 9.498 2.072 16.013 2.836 5.887.679 10.159 2.993 10.159 18.102 0 9.19-1.93 10.449-12.021 10.449-8.181 0-11.3.211-11.3-6.284 0-5.255 5.196-4.703 9.046-4.703 1.721 0 .471-1.278.471-4.521 0-3.227 2.02-5.09.11-5.136-13.313-.368-21.148-.016-21.148 16.637 0 15.115 5.784 17.922 24.683 17.922 14.815 0 20.034-.484 26.153-19.466 1.211-3.747 4.141-15.181 5.91-34.383 1.119-12.138-1.058-48.782-2.783-58.029zm-25.828 40.5c-1.83-.063-3.59.052-5.231.316.463-3.73 2.002-8.312 7.459-8.12 6.041.209 6.885 5.918 6.906 9.783-2.546-1.134-5.699-1.858-9.134-1.979z"></path></svg>
                                    </div>
                                    <div class="card-body text-center d-flex justify-content-start">
                                        <p class="card-text para16 ">amet justo donec enim. Tempor id eu nisl nunc. Eget mauris pharetra et ultrices.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

  
</div>

<!-- End  Integrate Top Work Tools --> 

<!--  Don't Want to Miss Anything? start -->

<div class=" section container check  mt-5 section-light-1">
    <div class="row Miss_Anything d-flex justify-content-center  mt-5  mb-2">
        <div class="col-7 check-box mt-5 ">
            
            <div class="  row pararaf ">
                <div class="col-11 ">
                    <h2 class=" "> Don't Want to Miss Anything?
                        <svg fill="#5457ca" height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 302.816 302.816" xml:space="preserve">
                        <path id="XMLID_6_" d="M298.423,152.996c-5.857-5.858-15.354-5.858-21.213,0l-35.137,35.136
	c-5.871-59.78-50.15-111.403-112.001-123.706c-45.526-9.055-92.479,5.005-125.596,37.612c-5.903,5.813-5.977,15.31-0.165,21.213
	c5.813,5.903,15.31,5.977,21.212,0.164c26.029-25.628,62.923-36.679,98.695-29.565c48.865,9.72,83.772,50.677,88.07,97.978
	l-38.835-38.835c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l62.485,62.485
	c2.929,2.929,6.768,4.393,10.606,4.393s7.678-1.464,10.607-4.393l62.483-62.482C304.281,168.352,304.281,158.854,298.423,152.996z" />
</svg>
                    </h2>
                </div>
               
            </div>
        </div>
        </div>


    <div class=" row d-flex justify-content-center mb-2">
        <div class=" col-2 ">
            <h4>
                Sign up for
                Newsletters
            </h4>

        </div>
        <div class=" col-2 ">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label para-check" for="flexCheckDefault">
                    Daily Newsletter
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label para-check" for="flexCheckChecked">
                    Event Updates
                </label>
            </div>

        </div>
        <div class=" col-2  ">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label para-check" for="flexCheckDefault">
                    Advertising Updates
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label para-check" for="flexCheckChecked">
                    Startups Weekly
                </label>
            </div>
        </div>
        <div class=" col-2 ">

            <div class="form-check">
                <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label para-check" for="flexCheckDefault">
                    Week in Review
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label para-check" for="flexCheckChecked">
                    Podcasts
                </label>
            </div>

        </div>
    </div>
    <div class=" row d-flex justify-content-center mt-4 mb-3">

        <div class="col-6 mb-3 ">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="form12" class="form-control " placeholder=" Your Email">
                <label for="exampleFormControlInput1" class="form-label"></label></input>

            </div>
        </div>
        <div class="col-2 mb-3">
            <button type="button" class="btn btn-learnmor text-light text-sm-center">
                <span class="learn-more-text">Subscribe *</span>

               
            </button>
        </div>
    </div>

    </div>


 



      